:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background: black;
}
#box {
  border: 3px solid #555b6e;
  background: #ffD6BA;
  left: 500px;
  top: 200px;
  height: 200px;
  position:absolute;
  font-size: 30px;
  font-family: Arial;
  text-align: center;
  width: 30%;
}